div 
table(border='1')
    thead
        tr  #{formattedName}
    tbody
        tr
            td Headline
            td #{headline}
        tr
            td Location
            td #{location}
        tr
            td Industry
            td #{industry}
        tr
            td NumConnections
            td #{numConnections}
        tr
            td Summary
            td #{summary}
        tr
            td Picture
            td
                img(src='#{pictureUrl}' height='150' width='150')
        tr
            td Public Profile URL
            td 
                a(href='#{publicProfileUrl}') #{formattedName}

