table
       tr
            td(rowspan='5')
               img(src='#{pictureUrl}' height='150' width='150' )
            td Nombre
            td #{formattedName}
        tr
            td Cargo
            td #{headline}
        tr
            td Lugar
            td #{location}
        tr
            td Area
            td #{industry}
        tr
            td Perfil Publico
            td #{publicProfileUrl}

